

.pagination{
    text-align: center;
    margin-bottom: 40px;
}
.pagination button{
    margin-right: 10px;
    background-color: silver;
    padding: 10px;;
    border-radius: 8px;
}
.pagination .selected {
    background-color: goldenrod;
    padding: 10px;
    border-radius: 8px;

}